@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
    /* Colors */
    --color-dark-gray: #222222;
    --color-header: #0e0e0c;

    /* Fonts */
    --font-cal-sans: "Cal Sans", sans-serif;
    --font-inter: "Inter", sans-serif;

    --breakpoint-xs: 320px;
}

@layer utilities {
    body {
        overflow-x: hidden;
    }

    a {
        text-decoration: none;
    }

    a,
    img,
    span,
    input {
        display: block;
    }

    input,
    button {
        border: none;
        background: none;
    }
}